@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size:  2em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Amatic SC', serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #e6eceb}

#about > a:hover {
  color: #808080;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: #005f89;
  border-bottom: 1px solid #005f89;
}

header.fixed #logo {
  color: #e6eceb;
}

.fixed #about a {color: #e6eceb}
.fixed #about a:hover {color: #808080}

/* Главный блок на сайте */

#top {
width: 100%;
  background-image: url(https://vk.com/doc506838934_621681386?hash=cbe88a0ca09e86a7a9&dl=ef868e50e72579392e&wnd=1&module=im);
  background-blend-mode: ;
  background-color: #005f89;
  background-size: cover;
  text-align: center;
  color: #e6eceb;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

#top h1 {
  padding-top: 20%;
}

#top h3 {
  color: #e6eceb;
}

/* Блок о нас */

#main {
  float: left;
  background-color: #005f89;
  border-top: 6px solid #005f89;
  color: #e6eceb;
  font-size: 1.3em;
}

@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 98%!important;
    margin-bottom: 20px;
  }
}

#main div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#main h2 {font-size: 3em}
#main span {color: #e6eceb}

#main img {
  background: #e6eceb;
  padding: 5px;
  border: 2px solid #e6eceb;
  float: left;
  width: 100%;
  max-width: 500px;
}
/*  */

#overview {
  float: left;
  background-image: url(https://psv4.userapi.com/c536132/u506838934/docs/d42/40bf2266e62d/ptichka.gif?extra=Ko-DtL1X7Lzw6FNXWZgR7xQgqMs4ZZovxWRWc3OGqbK_deuOda4cZOT9c8xqC1BZeTSuP-j1BbH1U2IvnxhWN679YbCgVsO5vDDOICY1mhmBeJuZe0qz8sAQTJden3q17z-QkXYd7oCPXv5b_lgvUvk);

  background-blend-mode: multiply;
  background-color: #403f40;
  background-size: cover;
  background-attachment: fixed;

  padding: 100px 0;
  width: 100%;
  text-align: center;
  color: #e6eceb;
}

#overview h2 {font-size: 4em}
#overview h4 {color: #ccc; font-size: 1.5em}

@media (min-width: 561px) {
  #overview h2 {font-size: 4em}
}

@media (max-width: 560px) {
  #overview h2 {font-size: 2em}
}

#overview .img {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
}

#overview .img:nth-child(odd) {
  margin-left: 18%;
}

#overview img {
  background: #fafafa;
  padding: 5px;
  border: 2px solid #e6eceb;
  float: left;
  width: 100%;
  max-width: 500px;
}

#overview span {
  float: left;
  width: 100%;
  font-size: 2em;
  margin-top: 10px;
}

@media (max-width: 700px) {
  #overview .img {
    width: 80%!important;
    margin-right: 0!important;
    margin-left: 10%!important;
  }
}

/*чем занимаем*/
#contacts {
  float: left;
  background-color: #005f89;
  border-top: 2px solid #005f89;
  color: #e6eceb;
  font-size: 1.3em;
}

@media (min-width: 1401px) {
  #contacts {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #contacts {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #contacts div {
    width: 98%!important;
    margin-bottom: 20px;
  }
}

#contacts div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#contacts h3 {font-size: 3em}
#contacts span {color: #e6eceb}
#contacts img {
  background: #fafafa;
  padding: 5px;
  border: 2px solid #e6eceb;
  float: left;
  width: 100%;
  max-width: 500px;
}

/* Наши работы */

#faq {
  background-image: url(https://psv4.userapi.com/c536132/u506838934/docs/d30/8486a6c74fb8/vyglyadyvae.gif?extra=ykEoTyY4d-sTbuY0eg-MJQ2daLISCglwNrjJKknaPxWimWkwvzZvQzvVbbysUF9XhA_hek0zYwOF0UDHkrKENqVrLj5-0JjZQMnV8uNmgQoxSZyNr7krizHYiKahinN7BqwRGbZaUgdAZlK80Q9IWmU);
  background-blend-mode: multiply;
  background-color: #616161;
  background-size: cover;

  border-top: 2px solid #005f89;
  width: 100%;
  float: left;
  padding-top: 100px;
  padding-bottom: 600px;
}

@media (min-width: 801px) {
  #faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}


@media (max-width: 800px) {
  #faq div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

#faq .title {
  font-weight: lighter;
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.2em;
}

#faq .heading {
  color: #b7b7b7;
  font-size: 1.6em;
  font-weight: bold;
}


/* контакты*/
#contacts2 {
  float: left;
  background-color: #005f89;
  border-top: 2px solid #005f89;
  color: #e6eceb;
  font-size: 1.3em;
}

@media (min-width: 1401px) {
  #contacts2 {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #contacts2 {
    padding: 100px 10%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  #contacts2 div {
    width: 98%!important;
    margin-bottom: 20px;
  }
}

#contacts2 div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#contacts2 h3 {font-size: 3em}
#contacts2 span {color: #e6eceb}
